<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<title>Les campings favoris du Québec</title>
	</head>
	<body>
		<ul>Navbar
			<li><a href="/">Retour à la page d'accueil</a></li>
			<li><a href="campings">Voir tous les campings</a></li>
			<li><a href="campings/formulaire">Ajouter un nouveau camping</a></li>
		</ul>
