<h1>Movie-App home page</h1>
<h2>Search movies that you like</h2>

<form action= "/results" method="GET">
	<input type="text" placeholder="search terms" name="movieSearch" />
	<input type="submit" />
</form>