<% include partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Connectez-vous à votre compte</h1>	
		</div>
		
		<div class="login-style">
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="username">Entrez votre nom</label>
					<input class="form-control" type="text" name="username" placeholder="Entrez votre nom d'usager" required/>
				</div>
				<div class="form-group">
					<label for="email">Entrez votre courriel</label>
					<input class="form-control" type="email" name="email" placeholder="Entrez votre adresse courriel" required/>
				</div>
				<div class="form-group">
					<label for="password">Entrez votre mot de passe</label>
					<input class="form-control" type="password" name="password" placeholder="Entrez votre mot de passe" required/>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-success btn-block">Soumettre</button>
				</div>
			</form>
			<a class="btn btn-sm btn-outline-warning btn-block" href="/forgot">Mot de passe oublié</a>
		</div>
	</div>
</div>


<% include partials/footer %>