.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px
}

.fa-campground {
	margin: 2%;
}

.delete-form {
	display: inline;
}

.login-style {
	width: 30%;
	margin: 25px auto;
}

#map {
	width: 100%;
	height: 400px;
}

label {
	display: none;
}



