.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px
}

.fa-campground {
	margin: 2%;
}

.delete-form {
	display: inline;
}

.login-style {
	width: 30%;
	margin: 25px auto;
}

#map {
	width: 100%;
	height: 400px;
}

label {
	display: none;
}

.jumbotron {
	background-image: url('https://images.unsplash.com/photo-1415378102122-81ca7015e28b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
	color: white;
	text-shadow: 2px 2px 4px #000;
}




