<% include partials/header %>

<h1>You fell in love with: <%= puppies %></h1> 
<% if(puppies.toLowerCase() === "rusty"){ %>
	<p>Good choice! Rusty is the Best</p>
<% } else { %>
<p>Who knows what you will love next!</p>
<% } %>

<p>But I know that you love dogs!</p>
<a href="/">Click here to see a beautifull puppy!</a><br>
<a href="../posts">click here to see posts about dogs!</a>

<% include partials/footer %>
