<% include partials/header %>
<h1>The Posts Page</h1>

<% posts.forEach(function(element){ %>
<li>
	<%= element.title %> - <strong><%= element.author %></strong>
</li>
<% }); %>

<a href="/">Click here to see a beautifull puppy!</a><br>
<a href="love/rusty">click here to fall in love!</a>

<% include partials/footer %>

