body {
	background-color: plum;
	color: white;
}

h1, h2 {
	padding: 10px;
	margin: 10px;
}

a {
	color: white;
	display: inline-block;
	padding: 20px;
}

a:visited {
	color: purple;
}

 li {
	list-style-type : none;
	 padding: 10px;
	 margin: 10px;
	 display: block;
}

input {
	padding: 10px;
	margin: 10px;
}

button {
	display: block;
	border: purple;
	padding: 10px;
	margin: 10px;
	background-color: white;
	color: plum;
}



