/*Jumbotron*/

.jumbotron {
	background-image: url('https://images.unsplash.com/photo-1415378102122-81ca7015e28b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
	color: white;
	text-shadow: 2px 2px 4px #000;
}

.fa-campground {
	margin: 2%;
}

/*index of campgrounds*/

#index-img {
	max-height: 35vh;
}

/*show page*/

.list-group-item.active{
	background-color: #28a745;
	border-color: #28a745;
}

#headingOne, #headingTwo {
	background-color: #28a745;
	border-color: #28a745;
}

.btn-link {
	color: white;
	text-align: left;
}

.btn-link:hover {
	color: white;
	text-align: left;
	text-decoration: none;
}

#map {
	width: 100%;
	height: 400px;
}

.delete-form {
	display: inline;
}

.img-responsive {
	width: 100%;
	height: auto;
}

/*forms*/

.login-style {
	width: 40%;
	margin: 25px auto;
}

label {
	display: none;
}

/*media queries*/

@media only screen and (max-width: 1000px){
.login-style {
	width: 60%;
	margin: 25px auto;
}
}

@media only screen and (max-width: 800px){
.login-style {
	width: 80%;
	margin: 25px auto;
}
}







