<h1>This is the secret page!!!!</h1>

<P>You found me!!!</P>
<img src="https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80" alt="ugly dog"/>

<ul>
	<a href="/">Home page</a></br>
	<a href="/register">Sign Up</a></br>	
	<a href="/login">Login</a></br>
	<a href="/logout">Logout</a></br>
	<a href="/secret">Secret page</a>
</ul>