<% include partials/header %>

<h1>This is my first EJS file</h1>

<a href="love/rusty">Click here to fall in love!</a><br>
<a href="posts">click here to see posts about dogs!</a>

<img src = "https://images.unsplash.com/photo-1530667912788-f976e8ee0bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">

<% include partials/footer %>