<h1>Sign up Form</h1>

<form action="/register" method="POST">
	<label>Username</label>
	<input type="text" placeholder="Enter Username" name="username"></br>
	<label>Password</label>
	<input type="password" placeholder="Enter Password" name="password"></br>
	<button>Submit</button>
</form>

<ul>
	<a href="/">Home page</a></br>
	<a href="/register">Sign Up</a></br>	
	<a href="/login">Login</a></br>
	<a href="/logout">Logout</a></br>
	<a href="/secret">Secret page</a>
</ul>